* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: "Press Start 2P", cursive;
  font-size: 250%;
  color: #fff;
}

header {
  background-color: #444444;
  /* background-color: #4e514d; */
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-size: large;
}

nav a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.title {
  position: relative;
  text-align: center;
}

.card {
  background-color: #222;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 1000px;
  position: relative;
}

.card .front,
.card .back {
  height: 30%;
  padding: 40px;
  width: 100%;
}

.card .front {
  background-color: #3f51b5;
  margin-bottom: 10px #222;
}

.card .back {
  background-color: #f44336;
  border-top: 10px solid #222;
}

.card p {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.banner-image {
  max-width: 3rem;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .card {
    margin: 20px;
    max-width: none;
  }
}
